//COLORS
$color-primary: #fd0808fe;
$color-primary-light: #c43e3e;
$color-primary-dark: #f92109;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-green-light: #63c956;
$color-green-dark: #02be1b;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: rgb(30, 28, 28);
$color-grey-dark-3: #333;
$color-grey-dark-5: rgb(23, 25, 25);


$color-white: #fff;
$color-black: rgb(1, 0, 0);

// FONT 
$default-font-size: 1.6rem;

//GRID
$grid-width: 105rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

