.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom ,
    rgba($color-primary-light, 0.738) ,
    rgba($color-primary-dark, 0.745)),
     url(../img/olg-glory.jpg);
    background-size: cover; 
    // background-position: top;
    position: relative;

    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh,0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80vh,0 100%);

    //  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    //     -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh,0 100%);
    //     clip-path: polygon(0 0, 100% 0, 100% 80vh,0 100%);
    //          height: 95vh;

    //  }


    // @media only screen and (min-resolution: 192pi) and (min-width: 37.5em),
    //    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    //    only screen and (min-width: 125em) {
    //     background-image: linear-gradient(to right bottom ,
    //         rgba($color-primary-light, 0.738),
    //         rgba($color-primary-dark, 0.745)),
    //     url(../img/olg-glory-big.jpg);
    // }
    @include respond(tab-port) {
        height: 87vh;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh,0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 80vh,0 100%);
     }

    @include respond(phone) {
        height: 80vh;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh,0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 75vh,0 100%);
     }



    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }


    &__logo {
        height: 70px;
        opacity: 60%;


    }


    &__text-box {
        position: absolute;
        left: 50%;
        top: 44%;
        transform: translate(-50%, -50%);
        text-align: center;

        @include respond(phone) {
            top: 45%;   
        }
    }
}